@color-green-light: #5bb04f;
@color-green-medium: #519d49;
@color-green-dark: #438041;
@color-green-dark-opacity: rgba(43, 81, 51, 0.8);
@color-gray-lighter: #f6f6f6;
@color-gray-light: #f3f3f3;
@color-gray-medium: #e6e6e6;
@color-gray-dark: #323232;
@color-gray-calc: #d0d0d0;
@color-white: #ffffff;

@font-face {
	font-family: RobotoLight;
	src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: RobotoThinItalic;
	src: url(../fonts/Roboto-ThinItalic.ttf);
}

html,body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a, button, input, select {
	outline: none;
}

a {
	text-decoration: none;
}

button {
	margin: 0 auto 30px auto;
	background: @color-green-light;
	padding: 10px 30px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-family: RobotoBold;
	color: @color-white;
	-webkit-font-smoothing: antialiased;

	&:hover {
		background: @color-green-medium;
	}
} 

header, footer, .main {
	width: 100%
}

.clear {
	clear: both;
}

.wrap {
	width: 940px;
	margin: 0 auto;
}

header {

	padding-bottom: 7px;

	.logo {
		float: left;
		margin: 5px 25px 0 0;
		display: inline-block;
	}

	.desc {
		float: left;
		padding: 5px 0 5px 25px;
		margin-top: 10px;
		border-left: 1px solid @color-gray-medium;
		font-family: RobotoLight;
		font-size: 13px;
		color: @color-gray-dark;
		display: inline-block;
	}

	.call {
		float: right;
		margin-top: 5px;
		display: inline-block;
	}

	.phones {
		float: right;
		margin: 3px 0 0 25px;
		width: 141px;
		font-family: RobotoBold;
		font-size: 18px;
		color: @color-gray-dark;
		display: inline-block;
		span {
			display: inline-block;
		}
	}
}

.navigation {
	background: @color-green-light;

	li {
		display: inline-block;
		position: relative;

		img {
			display: inline-block;
			vertical-align: middle;
			margin-right: 4px;
		}

		span {
			vertical-align: middle;
		}

		a {
			font-size: 14px;
			font-family: RobotoLight;
			color: @color-white;
			text-transform: uppercase;
			display: block;
			padding: 5px 10px 5px 8px;

			&:hover {
				background: @color-green-medium;
			}
		}

		&:last-child {
			float: right;

			a {
				background: @color-green-dark;
				padding: 5px 15px 5px 13px;
			}
		}
	}
}

.navigation.sticky {
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;
	z-index: 10;
}

.slides {
	position: relative;
	text-align: center;

	&__item:nth-child(1) {
		background: url(../img/tractor.jpg);
	}

	&__item:nth-child(2) {
		background: url(../img/facilities.jpg);
	}

	&__item:nth-child(3) {
		background: url(../img/machine.jpg);
	}

	&__item {

		width: 295px;
		height: 315px;
		margin: 20px 0 40px 0;
		display: inline-block;
		overflow: hidden;
		position: relative;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 20px;
		}

		&:hover {
			.panel {
				bottom: 0;
			}
		}
	}

	.panel {
		text-align: left;
		background: @color-green-dark-opacity;
		color: @color-white;
		padding: 10px 14px;
		position: absolute;
		bottom: -125px;
		left: 0;
		transition: bottom 0.5s ease;
	}

	.header {

		span:first-child {
			font-size: 13px;
			font-family: RobotoLight;
			text-transform: uppercase;
		}

		span:last-child {
			font-size: 17px;
			font-family: RobotoBold;
		}

		&:before {
			content: '';
			position: absolute;
			top: 60px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 90%;
			height: 1px;
			background: rgba(255, 255, 255, 0.2)
		}

		&:after {
			content: '';
			width: 100%;
			display: inline-block;
			clear: both;
		}
		
	}

	li {

		margin-bottom: 10px;

		img, span {
			vertical-align: middle;
		}

		span:first-of-type {
			font-size: 14px;
			font-family: RobotoBold;
		}

		span:last-of-type {
			font-size: 14px;
			font-family: RobotoLight;
		}
	}
}

.debounce {
	margin-top: 35px;
}

.features {

	text-align: center;
	
	.title {
		font-size: 30px;
		font-family: RobotoLight;
		color: @color-gray-dark;
		position: relative;
		margin-bottom: 30px;

		&:after {
			content: '';
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 197px;
			height: 2px;
			background: @color-green-light;
		}
	}

	.definition {
		font-size: 14px;
		font-family: RobotoLight;
		color: @color-gray-dark;
		margin-bottom: 30px;
	}

	.steps {

		& > img {
			vertical-align: top;
			position: relative;
			top: 50px;
		}

		.steps__item {
			width: 185px;
			height: 215px;
			position: relative;
			display: inline-block;

			&:nth-of-type(1) {
				background: url(../img/icon-tractor.png) top no-repeat;

				img {
					right: 20px; 
				}
			}

			&:nth-of-type(2) {
				background: url(../img/icon-document.png) top no-repeat;

				img {
					right: 45px; 
				}
			}

			&:nth-of-type(3) {
				background: url(../img/icon-handshake.png) top no-repeat;

				img {
					right: 35px; 
				}
			}

			&:nth-of-type(4) {
				background: url(../img/icon-vehicle.png) top no-repeat;

				img {
					right: 15px; 
				}
			}

			&:not(:last-child) {
				margin-right: 10px;
			}

			img {
				position: absolute;
				top: 80px;
			}

			span {
				font-size: 14px;
				font-family: RobotoLight;
				color: @color-gray-dark;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
	}
		
}

.specials {
	padding-top: 30px;
	margin-bottom: 30px;

	.news {
		float: left;
		width: 490px;

		li {
			padding: 10px 0;

			&:not(:last-child) {
				border-bottom: 1px solid @color-gray-medium;
			}
		}

		.title {
			font-size: 30px;
			font-family: RobotoLight;
			color: @color-gray-dark;
			display: inline-block;
			border-bottom: 2px solid @color-green-medium;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}

		.date {
			font-size: 12px;
			font-family: RobotoThinItalic;
			color: @color-green-light;
		}

		.title-news {
			font-size: 14px;
			font-family: RobotoBold;
			color: @color-gray-dark;
		}

		.text {
			font-size: 13px;
			font-family: RobotoLight;
			color: @color-gray-dark;
		}

		a.continue {
			font-size: 13px;
			font-family: RobotoLight;
			color: @color-green-light;
			border-bottom: 1px solid @color-green-light;
			float: right;
			margin-top: 5px;
			cursor: pointer;

			&:hover {
				color: @color-green-dark;
				border-bottom: 1px solid @color-green-dark;
			}
		}
	}

	.calculator {
		float: right;
		width: 385px;
		height: 435px;
		background: @color-gray-light;
		border: 1px solid @color-gray-medium;
		padding: 15px 0;
		text-align: center;

		.title {
			font-size: 30px;
			font-family: RobotoLight;
			color: @color-gray-dark;
			position: relative;
			margin-bottom: 35px;

			&:after {
				content: '';
				position: absolute;
				top: 50px;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 197px;
				height: 2px;
				background: @color-green-light;
			}
		}

		span {
			float: left;
			font-size: 14px;
			font-family: RobotoLight;
			color: @color-gray-calc;
		}

		button {
			float: right;
		}

		.calc {
			width: 315px;
			margin: 0 auto;
		}
	}
}

.partners {
	background: @color-gray-lighter;
	text-align: center;
	padding-top: 20px;
	position: relative;

	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	background: rgba(0, 0, 0, 0.5)
	// }

	.title {
		font-size: 30px;
		font-family: RobotoLight;
		color: @color-gray-dark;
		position: relative;
		margin-bottom: 30px;

		&:after {
			content: '';
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 180px;
			height: 2px;
			background: @color-green-light;
		}
	}

	.description {
		font-size: 14px;
		font-family: RobotoLight;
		color: @color-gray-dark;
		margin-bottom: 30px;
	}

	img {
		margin-bottom: 45px;
		opacity: .5;
		filter: alpha(opacity=40);
		-webkit-filter: grayscale(100%) contrast(0%);
		   -moz-filter: grayscale(100%) contrast(0%);
		        filter: grayscale(100%) contrast(0%);
		        filter: gray;
		        filter: url('filters.svg#grayscale');
		&:hover {
			-webkit-filter: grayscale(0%) contrast(100%);
		   -moz-filter: grayscale(0%) contrast(100%);
		        filter: grayscale(0%) contrast(100%);
		        filter: none;
		        filter: none;
		}        
	}

	img:not(:last-of-type) {
		margin-right: 45px;
	}
}

footer {

	padding: 10px 0;

	img {
		display: inline-block;
		vertical-align: middle;
		margin-right: 80px;
	}

	ul {
		display: inline-block;
		vertical-align: middle;
	}

	li {
		display: inline-block;
		margin-right: 15px;

		a {
			font-size: 12px;
			font-family: RobotoLight;
			color: @color-green-light;
			text-transform: uppercase;
			display: block;
			border-bottom: 1px solid @color-green-light;

			&:hover {
				color: @color-green-dark;
				border-bottom: 1px solid @color-green-dark;
			}
		}
	}

	.phones {
		float: right;
		margin: 3px 0 0 25px;
		width: 141px;
		font-family: RobotoBold;
		font-size: 18px;
		color: @color-gray-dark;
		display: inline-block;
		vertical-align: middle;

		span {
			display: inline-block;
		}
	}

	.credits {
		font-size: 9px;
		font-family: RobotoLight;
		color: @color-gray-calc;
		float: right;
		margin: 5px 0;
	}
}





