@color-green-light: #5bb04f;
@color-green-medium: #519d49;
@color-green-dark: #438041;
@color-green-dark-opacity: rgba(43, 81, 51, 0.8);
@color-gray-light: #f3f3f3;
@color-gray-medium: #e6e6e6;
@color-gray-dark: #323232;
@color-white: #ffffff;

@font-face {
	font-family: RobotoLight;
	src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(../fonts/Roboto-Bold.ttf);
}

html,body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a, button, input, select {
	outline: none;
}

a {
	text-decoration: none;
} 

header, footer, .main {
	width: 100%
}

.clear {
	clear: both;
}

.wrap {
	width: 940px;
	margin: 0 auto;
}

header {

	padding-bottom: 5px;

	.logo {
		float: left;
		margin: 5px 25px 0 0;
		display: inline-block;
	}

	.desc {
		float: left;
		padding: 5px 0 5px 25px;
		margin-top: 10px;
		border-left: 1px solid @color-gray-medium;
		font-family: RobotoLight;
		font-size: 13px;
		color: @color-gray-dark;
		display: inline-block;
	}

	.call {
		float: right;
		margin-top: 5px;
		display: inline-block;
	}

	.phones {
		float: right;
		margin: 3px 0 0 25px;
		width: 140px;
		font-family: RobotoBold;
		font-size: 18px;
		color: @color-gray-dark;
		display: inline-block;
		span {
			display: inline-block;
		}
	}
}

.navigation {
	background: @color-green-light;

	li {
		display: inline-block;
		position: relative;

		img {
			display: inline-block;
			vertical-align: middle;
			margin-right: 4px;
		}

		span {
			vertical-align: middle;
		}

		a {
			font-size: 14px;
			font-family: RobotoLight;
			color: @color-white;
			text-transform: uppercase;
			display: block;
			padding: 5px 10px 5px 8px;

			&:hover {
				background: @color-green-medium;
			}
		}

		&:last-child {
			float: right;

			a {
				background: @color-green-dark;
				padding: 5px 15px 5px 13px;
			}
		}
	}
}

.slides {

	&__item:nth-child(1) {
		background: url(../img/tractor.jpg);
	}

	&__item:nth-child(2) {
		background: url(../img/facilities.jpg);
	}

	&__item:nth-child(3) {
		background: url(../img/machine.jpg);
	}

	&__item {

		width: 299px;
		height: 315px;
		margin: 20px 0 40px 0;
		display: inline-block;
		overflow: hidden;
		position: relative;
		text-align: center;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 17px;
		}

		&:hover {
			.panel {
				bottom: 0;
			}
		}
	}

	.panel {
		text-align: left;
		background: @color-green-dark-opacity;
		color: @color-white;
		padding: 10px 14px;
		position: absolute;
		bottom: -125px;
		left: 0;
		transition: bottom 0.5s ease;
	}

	.header {

		span:first-child {
			font-size: 13px;
			font-family: RobotoLight;
			text-transform: uppercase;
		}

		span:last-child {
			font-size: 17px;
			font-family: RobotoBold;
		}

		&:before {
			content: '';
			position: absolute;
			top: 60px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 90%;
			height: 1px;
			background: rgba(255, 255, 255, 0.2)
		}

		&:after {
			content: '';
			width: 100%;
			display: inline-block;
			clear: both;
		}
		
	}

	li {

		margin-bottom: 10px;

		img, span {
			vertical-align: middle;
		}

		span:first-of-type {
			font-size: 14px;
			font-family: RobotoBold;
		}

		span:last-of-type {
			font-size: 14px;
			font-family: RobotoLight;
		}
	}
}

.features {

	text-align: center;
	
	.title {
		font-size: 30px;
		font-family: RobotoLight;
		color: @color-gray-dark;
		position: relative;
		margin-bottom: 30px;

		&:after {
			content: '';
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 197px;
			height: 2px;
			background: @color-green-light;
		}
	}

	.definition {
		font-size: 14px;
		font-family: RobotoLight;
		color: @color-gray-dark;
		margin-bottom: 30px;
	}

	.steps {

		& > img {
			vertical-align: top;
			position: relative;
			top: 50px;
		}

		.steps__item {
			width: 185px;
			height: 215px;
			position: relative;
			display: inline-block;

			&:nth-of-type(1) {
				background: url(../img/icon-tractor.png) top no-repeat;

				img {
					right: 20px; 
				}
			}

			&:nth-of-type(2) {
				background: url(../img/icon-document.png) top no-repeat;

				img {
					right: 45px; 
				}
			}

			&:nth-of-type(3) {
				background: url(../img/icon-handshake.png) top no-repeat;

				img {
					right: 35px; 
				}
			}

			&:nth-of-type(4) {
				background: url(../img/icon-vehicle.png) top no-repeat;

				img {
					right: 15px; 
				}
			}

			&:not(:last-child) {
				margin-right: 10px;
			}

			img {
				position: absolute;
				top: 80px;
			}

			span {
				font-size: 14px;
				font-family: RobotoLight;
				color: @color-gray-dark;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
	}

		
}



